* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.calculator {
    width: 10rem;
    margin: 2rem;
    padding: 0.9rem 0.9rem;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    background-color: azure;
}

div.screen {
    height: 2rem;
    width: 10rem;
    margin-bottom: 0.6rem;
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    font-size: xx-large;
    background-color: white;
}

.calculator,
.numpad,
.operators,
.numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row,
.screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.2rem;
    width: 2.25rem;
    height: 2.25rem;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    background-color: azure;
}